<h2> <%= Cor1440Gen::Informe.human_attribute_name(:contextointerno) %></h2>
<pre><%= @informe.contextointerno %></pre>

<h2> <%= Cor1440Gen::Informe.human_attribute_name(:contextoexterno) %></h2>
<pre><%= @informe.contextoexterno %></pre>

