<div class='control-group nested-fields'>
  <div class="controls">
    <%  f.object = ::Objetivopf.new if !f.object %>

    <%= f.input :numero %>

    <%= f.input :objetivo %>

    <%= f.input :id, as: :hidden %>

    <%= link_to_remove_association "Eliminar Objetivo", 
      f, :class => 'btn-danger' 
    %> 
  </div>
</div>
